//color
$color-basic-black:#000000;
$color-basic-white:#ffffff;

$color-dark-blue:#3498db;
$color-light-blue:#19b5fe;
$color-dark-green:#1bbc9b;
$color-light-green:#36d7b7;
$color-light-orange:#ffc000;
$color-dark-red:#ee1a1a;

$color-heavy-text:#000000;
$color-regular-text:#333;
$color-light-text:#909399;
$color-placeholder-text:#C0C4CC;

$color-border-one:#DCDFE6;
$color-border-two:#E4E7ED;
$color-border-three:#EBEEF5;
$color-border-four:#F2F6FC;

//20-18-16-14-13-12
$font-size-extra-large: 20px !default;
$font-size-large: 18px !default;
$font-size-medium: 16px !default;
$font-size-base: 40px !default;
$font-size-small: 13px !default;
$font-size-extra-small: 12px !default;

$--size-base: 40px !default;